<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Dating App</a>
  
  
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Matches <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#" tabindex="-1" >Messages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " (click)="logout()" href="#">Logout</a>
      </li>
    </ul>
    <div class="dropdown" *ngIf="loggedin()">
      <a class="dropdown-toggle text-light" href="#">
        Welocome User
      </a>
    
      <div class="dropdown-menu" >
        <a class="dropdown-item" href="#">Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()" href="#">Logout</a>
      </div>
    </div>
    <form class="form-inline mt-2 mt-md-0"  (ngSubmit)="onLogin(loginform)" #loginform="ngForm" *ngIf="!loggedin()">
      <input class="form-control mr-sm-2" type="text" placeholder="Username" name="username" ngModel required>
      <input class="form-control mr-sm-2" type="password" placeholder="Password"  name="password" ngModel required>
      <button class="btn btn-outline-primary my-2 my-sm-0" [disabled]="!loginform.valid" type="submit">Login</button>
    </form>

</nav>